<ion-header>
    <ion-navbar center color="SRH" >
    <ion-title>My Items</ion-title>
      <ion-buttons start>
          <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>

<!-- Generate a Searchbar with event to update Items -->
<ion-content padding class="background">
  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (input)="updateList($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <!-- Generate a list in a Ioncard -->
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let item of my_items">
        <ion-label (click)="goDetails(item)">{{item.name}} <p>{{item.time.endDate}}</p> <p>Expire Date {{item.time.days}}days {{item.time.hours}}h{{item.time.minutes}}min Left</p></ion-label>
      </ion-item>
    </ion-list> 
  </ion-card>
</ion-content>
