page-admin-addlist {

    .background{
        background-image: url('../../assets/imgs/Admin_Background.jpeg');
        background-position: center center;
        background-repeat: no-repeat;
    }

    .item .item-content{
	background-color: transparent !important;
}

.displayText{
    color: black;
}
}
