<ion-header>
  <ion-navbar color="SRH">
    <ion-title>Welcome Admin!</ion-title>
  </ion-navbar>
</ion-header>

<ion-list>
  <ion-item-sliding #item>
    <ion-item>
      Item
    </ion-item>
    <ion-item-options side="left">
      <button ion-button (click)="favorite(item)">Favorite</button>
      <button ion-button color="danger" (click)="share(item)">Share</button>
    </ion-item-options>

    <ion-item-options side="right">
      <button ion-button (click)="unread(item)">Unread</button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

<ion-content padding  class="background">
  <p><b>Equipment Records</b></p>
  <ion-list>
      <ion-item *ngFor="let location of locations" style="background-color: rgba(255,255,255,0)">
         <h2>{{ location.equipment }}</h2>
         <p class="displayText">
            Status: {{ location.status }}<br>
           Comment: {{ location.comment }}
         </p>

         <button
           ion-button
           color="secondary"
           (click)="updateDocument(location)">
            Update this record
        </button>


         <button
           ion-button
           color="danger"
           (click)="deleteDocument(location)">
            Delete this record
        </button>


      </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
    <div style="margin: 0 auto; text-align: center;">
    
    <button
     ion-button
     color="primary" style="width:185px" (click)="OnLogout()">
      Log out
  </button>
  <button
     ion-button
     color="primary"
     (click)="addDocument()">
      Add a new equipment
  </button>
  <button
     ion-button
     color="primary" (click)=equipmentInvenorty()>
      Equipment Inventory
  </button> </div>
  <ion-toolbar color= "SRH"></ion-toolbar>
</ion-footer>
