<!--
  Generated template for the GuidlinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar center color="SRH" >
    <ion-title>Guilines for the Students</ion-title>  
    <ion-buttons left>
      <button ion-button (click)="goBack($event)">
        <ion-icon name="arrow-dropleft"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="background">
  <form>
    <ion-card>
      <ion-card-content>
       <h1>General Information</h1><br>
       <p>Address: Ludwig-Guttmann-Straße 6, 69123 Heidelberg</p>
       <p>Phone: 06221 881000</p>
       <p>Opening hours: Moday to Friday - 09:00 - 17:00</p><br><br><br>
       <h1>Overdue Fees!</h1><br>
       <p>All Students! Please note that an <b>overdue fee</b> is applicable in case of returnung the borrowed items after the period of three days.<br>For the first five days the overdue fee will be <b>€5</b> and it will increase. So please be punctual and consider that other users would like to enjoy the equipments.</p>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar color= "SRH"></ion-toolbar>
</ion-footer>