<ion-header>

  <ion-navbar>
  <ion-title>Feedback</ion-title>
  </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  <form name="feedbackForm">
  <ion-label color="dark">Email</ion-label>
  <ion-input type="email" placeholder = "Enter your email" [(ngModel)]="email" name="Email">
  </ion-input>
  <ion-label color="dark">FeedBack</ion-label>
  <ion-input type="FeedBack" placeholder = "Enter your FeedBack" [(ngModel)]="feedback" name="FeedBack" required [minlength]= "10"></ion-input>
  <button (click)=submit()><u> Submit</u></button>
  <button (click)=cancle()><u> Cancle</u></button>
  </form>
  </ion-content>
  