<ion-header>
  <ion-navbar>
     <ion-title>
        {{ title }}
     </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form
     [formGroup]="form"
     (ngSubmit)="saveDocument(form.value)">

      <ion-item>
        <ion-label stacked>Equipment:</ion-label>
        <ion-input
           type="text"
           formControlName="equipment"
           [(ngModel)]="equipment"></ion-input>
      </ion-item>


     <ion-item>
        <ion-label stacked>Status:</ion-label>
        <ion-input
           type="text"
           formControlName="status"
           [(ngModel)]="status"></ion-input>
      </ion-item>


     <ion-item>
        <ion-label stacked>Comments:</ion-label>
        <ion-input
           type="text"
           formControlName="comment"
           [(ngModel)]="comment"></ion-input>
      </ion-item>


      <ion-item>
        <button
          ion-button
          block
          color="primary"
          text-center
          padding-top
          padding-bottom
          [disabled]="!form.valid">
           <div *ngIf="!isEditable">
              Add a new equipment
           </div>

           <div *ngIf="isEditable">
              Update this equipment
           </div>
           </button>
      </ion-item>

  </form>


</ion-content>