
<ion-header>

  <ion-navbar color="SRH">
    <ion-title >Inventory List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
  
    <p> <b>Add New Equipments</b></p>
    <input type="text" [(ngModel)]="item" name="item" placeholder="Item name..">
    <input type="text" [(ngModel)]="description" name="description" placeholder="Description here..">
    <input type="submit" value="Add items" (click)="addItems()" color="SRH"> 
    
      <br>
      <p> <b>List of Equipments</b></p>
        <ion-list >
          <ion-item  ion-item *ngFor="let inventory of inventorys| async" style="background-color: rgba(255,255,255,0)" >
           <h2>{{inventory.item}}</h2> 
          
           <p>
              Description: {{ inventory.description}}<br>
           </p>
   
           <button ion-button
           color="secondary"
           (click)="deleteItem(inventory.id)">
            Delete
        </button>
          </ion-item>
    
            
        </ion-list>
      
    
     
</ion-content>
<ion-footer>
<ion-toolbar color= "SRH"></ion-toolbar>
</ion-footer>
