page-signin {
       .background{
        background-image: url('../../assets/imgs/SRH-Background.jpg');
        background-position: center center;
        background-repeat: no-repeat;
    }

    .scroll-content{
        caption-side: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    ion-card.card{
        p{color:rgb(255, 255, 255);}

        box-shadow: none;
        background:rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }
    a,p,
    ion-card-header.card-header{
        color:#fff;
    }

    .list>.item-block:first-child{
        border: medium none;
    }

    .item{
        margin-bottom: 10px;
        background: rgba(255, 255, 255, 0.5);
        border: medium none;

        .text-input, {
            color: rgb(0, 0, 0);
        }
    }

    .btn{
        border: 1px ;
        background: #86a20c;
        inline-size: 80%;
        margin-inline-start: 10%;
    }
}