<ion-header>

    <ion-navbar center color="SRH" >
      <ion-title>SRH Equipment Library</ion-title>
      <ion-buttons start></ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content class="background">
    <form #f="ngForm" (ngSubmit)="onSignin(f)">
      <ion-card>
        <ion-card-content>
  
          <ion-list>
            <ion-item>
              <ion-label color="dark" fixed>Email</ion-label>
              <ion-input type="email" placeholder = "Enter your email"  ngModel name="email" required></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label color="dark" fixed>Password</ion-label>
              <ion-input type="password" placeholder = "Enter your password" ngModel name="password" required [minlength]="6"></ion-input>
            </ion-item>
  
            <a (click)="showForgotPassword()">Forgot your login details <b>Get help signing in</b></a>
          </ion-list>
  
          <button ion-button icon-start block class="btn" color="btn-hover" (click)="signIn($event)">
              <ion-icon name="log-in"></ion-icon>
              Sign-in
          </button>
        </ion-card-content>
      </ion-card>
    </form>
  
    <form>
      <ion-card>
        <ion-card-content>
          <p>Dont have an account? <b>Sign up here:</b></p>
          <button ion-button icon-start block class="btn" color="btn-hover" (click)="goSignUp($event)">
              <ion-icon name="checkbox"></ion-icon>
              Register
          </button>
        </ion-card-content>
      </ion-card>
    </form>
   </ion-content>
  
  <ion-footer>
    <ion-toolbar color= "SRH">
    <div>
    <button ion-button color= "SRH" (click)="giveFeedback($event)"><u>Feedback</u></button>
    </div>
  </ion-toolbar>
  </ion-footer>