<ion-header>
  <ion-navbar center color="SRH" >
    <ion-title>Available Items</ion-title>
    <ion-buttons start>
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionCancel)="onCancel($event)"
    (input)="updateList($event)">
  </ion-searchbar>
  
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let item of available_items">
          <ion-label>{{item.name}}</ion-label>
          <ion-checkbox [(ngModel)]="item.mine" (ionChange)="showArrays($event)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-card>

    <button ion-button icon-start block class="btn" color="btn-hover" (click)="rentItem($event)">
      <ion-icon name="create"></ion-icon>
      Borrow item(s)
  </button>

</ion-content>
