page-item-list {
    .background{
         background-image: url('../../assets/imgs/Equipment-bg.jpg');
         background-position: center center;
         background-repeat: no-repeat;
     }
  
     ion-card.card{
         p{color:rgb(255, 255, 255);}
         box-shadow: none;
         background:rgba(0, 0, 0, 0.5);
         border-radius: 5px;
     }
 
     .item{
         margin-bottom: 1px;
         background: rgba(255, 255, 255, 0.5);
         border: medium none;
     }

     .btn{
         border: 1px ;
         background: #86a20c;
         inline-size: 80%;
         margin-inline-start: 10%;
     }
 }