<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar center color="SRH" >
      <ion-title>Resgiter with SRH Email</ion-title>
      <ion-buttons start></ion-buttons>
    </ion-navbar>
  
</ion-header>

<ion-content class="background">
    <form #f="ngForm" (ngSubmit)="onSignup(f)">
      <ion-card>
        <ion-card-content>
          <ion-list>

            <ion-item>
              <ion-label color="dark" fixed>Email</ion-label>
                <ion-input type="email"  placeholder = "Enter your email" ngModel name="email"
                  required pattern="(^[a-zA-Z0–9_.+-]+@stud.hochschule-heidelberg.de)|(^[a-zA-Z0–9_.+-]+@admin.hochschule-heidelberg.de)|(^[a-zA-Z0–9_.+-]+@hochschule-heidelberg.de)">
                </ion-input>
            </ion-item>
  
            <ion-item>
                <ion-label color="dark" fixed>Password</ion-label>
                <ion-input type="password" placeholder = "Enter your password" ngModel name="password" required [minlength]="6"></ion-input>
            </ion-item>

          </ion-list>
          <a (click)="termsAndConditionsSheet()">By registering, I confirm that I have read and agreed with <b>the terms and conditions</b></a>
          <button ion-button block class="btn" color="btn-hover" type="submit" [disabled]="!f.valid">
              <ion-icon name="person-add"></ion-icon>
              Signup
          </button>

        </ion-card-content>
      </ion-card>
    </form>

    <form>
      <ion-card>
        <ion-card-content>
          <p>Done? <b>Go back to sign in!</b></p>
            <button ion-button icon-start block class="btn" color="btn-hover" (click)="goSignIn($event)">
              <ion-icon name="home"></ion-icon>
              Home
            </button>
          <!-- <Button ion-button block class="btn" color="btn-hover" (click)="goSignIn($event)">Home</Button> -->
        </ion-card-content>
      </ion-card>
    </form>

</ion-content>

<ion-footer>
    <ion-toolbar color= "SRH"></ion-toolbar>
</ion-footer>