page-details {
    .scroll-content{
        caption-side: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    ion-card.card{
        p{color:rgb(255, 255, 255);}
        h4{color:rgba(236, 234, 234, 0.7);}
        background:rgba(0, 0, 0, 0.8);
        border-radius: 5px;
    }

    form{
        inline-size: 80%;
        margin-inline-start: 10%;
    }

    .btn{
        border: 1px ;
        background: #86a20c;
        inline-size: 80%;
        margin-inline-start: 10%;
    }
    
    .chkbx{
        align-content: center;
        background: #86a20c;
        inline-size: 80%;
        margin-inline-start: 10%;
    }
}