<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar center color="SRH" >
      <ion-title>{{item.name}}</ion-title>  
    </ion-navbar>
</ion-header>

<ion-content class="background">
  <ion-card>
    <ion-card-content>
      <h4>Details about {{item.name}}</h4><br>
      <p>{{item.details}}</p><br><br>
      <ion-item class="chkbx">
      <ion-label>Extend this item for a period of <b>thee</b> more days. <b>(Only once applicable)</b>.</ion-label>
        <ion-checkbox [(ngModel)]="again" ></ion-checkbox>
      </ion-item>
      <button ion-button icon-start block class="btn" [disabled]="!again" color="btn-hover" (click)="rentAgain($event)">
          <ion-icon name="calendar"></ion-icon>
          Extend
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>