<ion-menu [content]="content">
  <ion-header>
      <ion-toolbar>
          <ion-title>Menu</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-content>
      <!-- List for the Slidemenu. Its displayed from first to last Buttons -->
      <ion-list>
            <button ion-item  icon-left (click)="onLoad(tabsPage)" >
              <ion-icon name="book"></ion-icon>
              Usermenu
            </button>
            <button ion-item  icon-left (click)="onLoad(guidlinePage)" >
                <ion-icon name="book"></ion-icon>
                Guidlines
              </button>
            <button ion-item  icon-left (click)="OnLogout()">
                <ion-icon name ="log-out"></ion-icon>
                    Logout
            </button>
        </ion-list>
</ion-content>
</ion-menu>

<!-- #nav reference to the ion menu -->
<ion-nav [root]="tabsPage" #content></ion-nav>
